@import url(superfish.css);
                                  
html, body {
    border: 0;
    margin: 0; 
    padding: 0;
	  background-image:url(../img/body.jpg);

    }

/***** Common Formatting *****/
p {margin: 0; padding: 0 0 18px 0;}
ul {list-style: none; margin: 0; padding: 0;}

/***** Links *****/
a {
    font-family: Arial, Helvetica, sans-serif;
  	text-decoration: none;
  	color: #0066B3;
}

a:hover {text-decoration: none; color: #820000;}

table{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	border-collapse: collapse;
	margin: 10px 0px;
}

th{
	color: #FFFFFF;
	font-size: 9pt;
	text-transform: uppercase;
	text-align: left;
	padding: 0.5em;
	border-width: 1px;
	border-style: solid;
	border-color: #969BA5;
	border-collapse: collapse;
	background-color: #265180;
}
td{
	padding: 0.5em;
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: #969BA5;
	border-collapse: collapse;
}

#tabel{
	padding: 0px;
	border: 1px solid #CCC;
	text-align: justify;
	margin-left:1%;
	margin-right:1%;
	background-image:url(../img/header1.jpg);	
	}
	
#tabelsystem{
	padding: 0px;
	border: 1px solid #CCC;
	text-align: justify;
	margin-left:1%;
	margin-right:1%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	
	font-size: 14px;
	background-image:url(../img/drop-down.gif);
	}
  	


#headerlogin {
	display: block;
	float: left;
	clear: left;
	width: 630px;
	padding: 20px;
	margin: 0 0 10px 0;
	clear: both;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;	
}

#kotaklogin{
	padding: 4px;
	border: 1px solid #CCC;
	text-align: justify;
 	width: 60%;
	margin-left:120px;
	margin-right:0px;
	
}

#kotakjudul{
	background: url(../img/mainnav-bg.gif) repeat-x;
	margin: 0px;
  width: 30%;
	padding: 5px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
  	border-bottom: none;  
}

#kotakisi{
  width: 30%;
	padding: 4px;
	border: 1px solid #CCC;
	text-align: justify;
	
}

table#tableperhatian tr td{
	
	vertical-align: top;
	
	padding: 4px;
	border: 1px solid #CCC;

}

#error{
 	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	width: 45%;
 	margin-top:1%;
 	padding: 4px;
	border: 1px solid #CCC;
	text-align: justify;
}

#font-error{
color: #FFF;
}

#headermodul{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding: 6px;
	border: 1px solid #CCC;
	text-align: justify;
	text-align:center;
	margin-left:1%;
	margin-right:1%;
}

#groupmodul{
  float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 6px;
	border: 1px solid #CCC;
	text-align: justify;
	margin-top:0.1%;
	margin-left:1%;
	margin-right:1%;
}


#groupmodul1{
  float: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 6px;
	border: 1px solid #CCC;
	text-align: justify;
	margin-top:0.1%;
	margin-left:1%;
	margin-right:1%;
}
#tabletambahmdl{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 6px;
	border: 1px solid #CCC;
	text-align: justify;
	margin-top:0.4%;
	margin-left:4%;
	margin-right:0%;
	width:150%;	
}

#selectmodul{
font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 6px;
	border: 1px solid #CCC;
	text-align: justify;
	margin-top:0.2%;	
}

/*===table====*/
table#tablemodul tr td{
	font-size: 9pt;
	padding: 0.5em;
	vertical-align: top;
	border-width: 0px;
	padding: 4px;
	border: 1px solid #CCC;
}

table#tablemodul th{
  background:url(../img/header_table.gif);
	
}
table#tablemodul1{
	color: #FFFFFF;
	font-size: 9pt;
	padding: 0.5em;
	border-width: 1px;
	border-style: solid;
	border-color: #969BA5;
	border-collapse: collapse;
	
}
table#tablemodul1 tr td{
	padding: 0.5em;
	vertical-align: top;
	border-width: 0px;
	padding: 4px;
	border: 1px solid #CCC;
	
}

#headereditmdl{
  font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding: 6px;
	border: 1px solid #CCC;
	text-align: justify;
	text-align:center;
	margin-left:1%;
	margin-right:1%;	
}

form{
margin-left:0%;
margin-top:0%;
margin-bottom:0%;

}

#form{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 6px;
	border: 1px solid #CCC;
	text-align: justify;
	margin-top:0.2%;
	margin-left:1%;
	margin-right:1%;
	width:300px;
	text-align: center;
	background-color: #265180;
	color:#fff;
	text-transform: uppercase;
	padding: 4px;
}

table#table1{
margin-left:1%;

}

table#table1 tr td{
margin-left:1%;

	vertical-align: top;
	border-width: 0px;
	border: 1px solid #CCC;

}

#toolbar{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 2px;
	border: 1px solid #CCC;
	text-align: justify;
	background-color:#dce1e5;
}



a:link, a:visited {
	color:#D40000;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt;
}

a:hover {
	color:#000000;

}

#tabsview {
    display: block;
    float: left;
    width:auto;
	  font-size:10px;
}

.tab_bdr {
    padding: 0px;
    width: auto;
    border: 0px;
    border: 1px solid #65C80B;
    height: 4px;
    margin:0px;
    background: #65C80B;
    clear: left;
    font-size: 0px;
}

.tab_sel {
    -moz-border-radius-topleft:6px;
	  -moz-border-radius-topright:6px;
	  font-weight:bold;
    font-size: 12px;
    background: #65C80B;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #65C80B;
    height: 19px;
    padding-top: 3px;
    margin: 0px;
    width:auto;
    float: left;
    text-decoration: none;
}

#footer {
	clear: both;
	height: 30px;
	background-image:url(../img/drop-down.GIF);	
	color: #FFF;
	font-size: 0.9em;
	margin-left:1%;
	margin-right:1%;
	margin-top:1%;
	padding: 0px;
	border: 1px solid #CCC;
	text-align: justify;
}
